body{

    background-image: url(https://i.pinimg.com/originals/10/a8/4f/10a84f6b998ea9826f4b93020caf2fec.jpg);
    background-repeat:space;
    background-color: moccasin;
    font-size: 20px;
    text-indent: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;

}
.title{
    color:#006400;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-size: 64px;
    text-align:left;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

a:link{
    text-decoration:none;
    color:black;

}
a:visited{
    color:hsl(0, 68%, 42%);

}
a:hover{
    color:red;
    text-decoration:underline;

}
a:active{
    color:black;

}